@keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

.fade-in {
animation: fadeIn 2s ease;
}

.navbar-black {
background-color: black;
animation: fadeIn 0.5s ease
}


@keyframes bounce {

    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .animate-bounce {
    animation: bounce 1.5s infinite;
  }

/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Above other elements */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal content */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* Center the modal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Adjust as needed */
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#navbar {
  position: sticky; /* Initially set as relative */
  top: 0; /* No offset */
  transition: top 0.3s ease; /* Smooth transitions when toggling */
  z-index: 50;
}

  

#shifted{
    position: relative;
    top: 3px;
}

#google_translate_element {
    text-align: center;
    display: inline-block;
    
}

.goog-logo-link {
    display: none !important; /* Hides Google branding */
}